/* SPDX-License-Identifier: Apache-2.0 */

&spi0 {
    status = "okay";
    sck-pin = <42>;
    miso-pin = <44>;
    mosi-pin = <43>;
    cs-gpios = <&gpio1 8 0>;

    icm20649@0 {
        label = "ICM20649";
        compatible = "tdk,icm20649";
        reg = <0>;
        spi-max-frequency = <1000000>;
        irq-gpios = <&gpio1 7 0>;
    };
};
