/*
 * Copyright (c) 2022 Intel Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
  pinctrl-0 = <&pinmux_i2c>;
  pinctrl-names = "default";

  status = "okay";
};

/ {
 wm8904: wm8904 {
   compatible = "wolfson,wm8904";
   reg = <0x31>;
   label = "CODEC_0";
   i2c = &i3c0;
   i2s = &sai0;

   status = "okay";
 };
};
